FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="user/master/fragments/head :: head"></div>

<body>
    <!-- Preloader -->
    <div th:replace="user/master/fragments/preloader:: preloader"></div>

    <!-- ##### Header Area Start ##### -->
    <div th:replace="user/master/fragments/header:: header"></div>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/user/img/about-us-img/4.jpg);">
        <div class="bradcumbContent">
            <h2>About us</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div th:replace="user/master/fragments/book-now:: book-now"></div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-text mb-100">
                        <div class="section-heading">
                            <div class="line-"></div>
                            <h2>A place to remember</h2>
                        </div>
                        <p>We offer an exclusive skincare experience with treatments designed to rejuvenate, relax, and enhance the health of your skin. Performed by experienced professionals, each treatment is personalized to meet your skin’s unique needs.</p>
                        <a th:href="${#strings.contains(currentURI, 'customer')} ? '/protected/customer/services' : '/services'" class="btn palatin-btn mt-50">Read More</a>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="/user/img/about-us-img/3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Milestones Area Start ##### -->
    <section class="our-milestones section-padding-100-0 bg-img bg-fixed" style="background-image: url(/user/img/about-us-img/8.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-center text-dark">
                        <div class="line-"></div>
                        <h2>Our Milestones</h2>
                        <p class="font-bold text-dark">We are proud of the key achievements that have marked our journey. From humble beginnings to impactful growth, each milestone reflects our dedication, innovation, and unwavering commitment to excellence.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="scf-text">
                            <i class="icon-cocktail-1"></i>
                            <h2><span class="counter">100</span></h2>
                            <p>Books/day</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="scf-text">
                            <!--<i class="icon-swimming-pool"></i>-->

                            <i class="icon-sunset"></i>
                            <h2><span class="counter">10</span></h2>
                            <p>SkinTherapists</p>

                        </div>
                    </div>
                </div>

                                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="scf-text">
                            <i class="icon-resort"></i>
                            <h2><span class="counter">9</span></h2>
                            <p>Services</p>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <div class="scf-text">
                            <i class="icon-restaurant"></i>
                            <!--<img class="skin-therapist-1" src="/user/icon/5729681_doctor_flu_mask_protection_wearing_icon.ico" alt="">&ndash;&gt;-->
                            <h2><span class="counter">15</span></h2>
                            <p>Rooms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Milestones Area End ##### -->

    <!-- ##### Hotels Area Start ##### -->
    <section class="our-hotels-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Our Professional Skincare Services</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">


                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Our Signature Skincare Services</h6>
                            <h6><span class="fa fa-check"></span> Elevate Your Skin with Our Advanced Therapies</h6>
                            <h6><span class="fa fa-check"></span> Reveal Your Radiant Glow</h6>
                        </div>
                        <div class="hotel-img">
                            <img src="/user/img/about-us-img/6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Discover Personalized Skincare Journeys Made for You</h6>
                            <h6><span class="fa fa-check"></span> Unwind and Rejuvenate Your Skin</h6>
                            <h6><span class="fa fa-check"></span> Expert Skincare Consultations</h6>
                        </div>
                        <div class="hotel-img">
                            <img src="/user/img/about-us-img/5.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Hotel Info -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-hotel-info mb-100">
                        <div class="hotel-info-text">
                            <h6><span class="fa fa-check"></span> Experience the Difference in Our Skincare Approach</h6>
                            <h6><span class="fa fa-check"></span> Nourish Your Skin with Premium Ingredients</h6>
                            <h6><span class="fa fa-check"></span> Book Your Skincare Appointment Today</h6>
                        </div>
                        <div class="hotel-img">
                            <img src="/user/img/about-us-img/7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hotels Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area section-padding-100 bg-img" style="background-image: url(/user/img/core-img/pattern.png);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-content">
                        <div class="section-heading text-center">
                            <div class="line-"></div>
                            <h2>What Clients Say</h2>
                        </div>
                        
                        <!-- Testimonial Slides -->
                        <div class="testimonial-slides owl-carousel">
                            
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <p>I went to for a facial and was truly impressed with the results. My skin has never felt so smooth and radiant! The estheticians are professional and friendly. I will definitely be back!</p>
                                <h6>Sarah Jones, <span>Client</span></h6>
                                <img src="/user/img/core-img/trip.png" alt="">
                            </div>
                            
                            <!-- Single Testimonial -->
                            <div class="single-testimonial">
                                <p>I struggled with acne and tried many treatments without success. Since going to [Your Spa/Brand Name], my skin has improved significantly. Their therapy treatments are fantastic. I'm very satisfied.</p>
                                <h6>David Lee, <span>Developer</span></h6>
                                <img src="/user/img/core-img/trip.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <div th:replace="user/master/fragments/footer:: footer"></div>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <div th:replace="user/master/fragments/script"></div>
</body>

</html>