<div th:fragment="book-now" class="book-now-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="book-now-form">
          <form action="#">
            <!-- Form Group -->
            <div class="form-group">
              <label for="select1">Services</label>
              <select class="form-control" id="select1">
                <option>Aqua Peel</option>
                <option>LDM</option>
                <option>Deep Cleaning</option>
                <option>PDT</option>
              </select>
            </div>

            <!-- Form Group -->
            <div class="form-group">
              <label for="select2">Date</label>
<!--              <select class="form-control" id="select2">-->
<!--                <option>20 June</option>-->
<!--                <option>21 June</option>-->
<!--                <option>22 June</option>-->
<!--                <option>23 June</option>-->
<!--                <option>24 June</option>-->
<!--                <option>25 June</option>-->
<!--                <option>26 June</option>-->
<!--                <option>27 June</option>-->
<!--              </select>-->
              <input type="date" class="form-control date-picker" id="select2">
              <script>
                // Lấy ngày hiện tại
                let today = new Date();

                // Chuyển đổi thành định dạng YYYY-MM-DD
                let formattedDate = today.toISOString().split("T")[0];

                // Gán giá trị min cho input
                document.getElementById("select2").min = formattedDate;

                // Gán giá trị min cho input
                document.getElementById("select2").value = formattedDate;


              </script>
            </div>

            <!-- Form Group -->
            <div class="form-group">
              <label for="time">Time</label>
              <input type="time" class="form-control date-picker" id="time" value="08:30">
            </div>

            <!-- Form Group -->
            <div class="form-group">
              <label for="select4">Skin Therapist</label>
              <select class="form-control" id="select4">
                <option>Random</option>
              </select>
            </div>

            <!-- Button -->
            <button type="submit">Book Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>