<header th:fragment="header" class="header-area">
  <!-- Navbar Area -->
  <div class="palatin-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="palatinNav">
          <!-- Nav brand -->
          <a
            th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/home} : @{/}"
            class="nav-brand"
            ><img src="/user/img/core-img/logo_1.png" alt=""
          /></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div id="navList" class="classynav">
              <ul>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/home') or (currentURI == '/') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/home} : @{/}"
                    >Home</a
                  >
                </li>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/about-us') or (currentURI == '/about-us') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/about-us} : @{/about-us}"
                    >About Us</a
                  >
                </li>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/skin-therapist') or (currentURI == '/skin-therapist') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/skin-therapist} : @{/skin-therapist}"
                    >Skin Therapist</a
                  >
                </li>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/services') or (currentURI == '/services') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/services} : @{/services}"
                    >Services</a
                  >
                </li>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/blog') or (currentURI == '/blog') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/blog} : @{/blog}"
                    >Blog</a
                  >
                </li>
                <li
                  th:classappend="${#strings.contains(currentURI, '/customer/contact') or (currentURI == '/contact') ? 'active' : ''}"
                >
                  <a
                    th:href="${#strings.contains(currentURI, 'customer')} ? @{/protected/customer/contact} : @{/contact}"
                    >Contact</a
                  >
                </li>
              </ul>
              <!-- Button -->
              <div class="menu-btn">
                <!-- Guest -->
                <a
                  th:if="${!#strings.contains(currentURI, 'customer')}"
                  th:href="@{/login}"
                  class="btn palatin-btn"
                  >Make a Reservation</a
                >

                <!-- Customer -->
                <div
                  th:if="${#strings.contains(currentURI, 'customer')}"
                  class="user-info dropdown position-relative"
                >
                  <!-- Hiển thị tên người dùng -->
                  <button
                    type="button"
                    class="btn palatin-btn"
                    data-bs-toggle="dropdown"
                  >
                    <span th:text="${#authentication.name}">User Name</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a
                        class="dropdown-item text-dark"
                        th:href="@{/protected/customer/profile}"
                        >Customer Profile</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-dark"
                        th:href="@{/protected/customer/appointments}"
                      >
                        Booking History
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark"
                         th:href="@{/protected/customer/feedbacks}"
                        >
                        Feedback Manager
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark" th:href="@{/protected/customer/quiz}">Do Quiz</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a onclick="logoutUser()" class="dropdown-item text-dark cursor-pointer"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
