
<div th:fragment="appointmentFormModal">
  <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="appointmentModalLabel">Book a skin care service</h5>
          <a th:href="@{/protected/customer/services}" class="btn btn-secondary">Close</a>
        </div>
        <!-- Phần này sẽ được nạp nội dung từ appointment_form -->
        <div class="modal-body" id="appointmentModalBody"></div>
      </div>
    </div>
  </div>
</div>