<aside
  th:fragment="menu"
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
>
  <div class="app-brand demo">
    <a
      th:href="${#strings.contains(currentURI, 'staff') ? '/protected/staff/home' :
               (#strings.contains(currentURI, 'manager') ? '/protected/manager/home' : '/protected/therapist/home')}"
      class="app-brand-link"
    >
      <span class="app-brand-logo demo">
        <img src="/user/img/core-img/logo_1.png" alt="logo" />
      </span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto"
    >
      <i class="bx bx-chevron-left d-block d-xl-none align-middle"></i>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboards (Manager)-->
    <li
      th:classappend="${#strings.contains(currentURI, '/manager/home')} ? 'active open' : ''"
      class="menu-item"
    >
      <a
        th:if="${#strings.contains(currentURI, 'manager')}"
        th:href="@{/protected/manager/home}"
        class="menu-link menu-toggle"
      >
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
      </a>
      <ul class="menu-sub">
        <li
          th:classappend="${#strings.contains(currentURI, '/manager/home')} ? 'active' : ''"
          class="menu-item"
        >
          <a th:href="@{/protected/manager/home}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Analytics</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Users ("Manager" and "Staff")   -->
    <li
      th:if="${#strings.contains(currentURI, 'manager')} or ${#strings.contains(currentURI, 'staff')}"
      class="menu-item"
      th:classappend="${#strings.contains(currentURI, '/manager/list-staff') or
          #strings.contains(currentURI, '/manager/list-therapist') or
          #strings.contains(currentURI, '/manager/list-customer') or
          #strings.contains(currentURI, '/staff/list-therapist') or
          #strings.contains(currentURI, '/staff/list-customer')}  ? 'active open' : ''"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-user"></i>
        <div data-i18n="Users">Users</div>
      </a>
      <ul class="menu-sub">
        <li
          class="menu-item"
          th:if="${#strings.contains(currentURI, 'manager')}"
          th:classappend="${#strings.contains(currentURI, '/manager/list-staff')} ? 'active' : ''"
        >
          <a th:href="@{/protected/manager/list-staff}" class="menu-link">
            <div data-i18n="List">Staff</div>
          </a>
        </li>
        <li
          class="menu-item"
          th:classappend="${#strings.contains(currentURI, '/manager/list-therapist') or
                            #strings.contains(currentURI, '/staff/list-therapist')} ? 'active' : ''"
        >
          <a
            th:href="${#strings.contains(currentURI, 'manager') ? '/protected/manager/list-therapist' : '/protected/staff/list-therapist'}"
            class="menu-link"
          >
            <div data-i18n="List">Skin Therapist</div>
          </a>
        </li>

        <li
          class="menu-item"
          th:classappend="${#strings.contains(currentURI, '/manager/list-customer')or
                            #strings.contains(currentURI, '/staff/list-customer')} ? 'active' : ''"
        >
          <a
            th:href="${#strings.contains(currentURI, 'manager') ? '/protected/manager/list-customer' : '/protected/staff/list-customer'}"
            class="menu-link"
          >
            <div data-i18n="List">Customer</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- SpaService -->
    <li
      th:classappend="${#strings.contains(currentURI, '/manager/spa-services') or
          #strings.contains(currentURI, '/staff/spa-services') or
          #strings.contains(currentURI, '/therapist/spa-services')}  ? 'active open' : ''"
      class="menu-item cursor-pointer"
    >
      <a class="menu-link menu-toggle" href="javascript:void(0)">
        <i class="menu-icon tf-icons bx bx-spa"></i>
        <div class="text-truncate" data-i18n="Dashboards">Spa Services</div>
      </a>
      <ul class="menu-sub">
        <li
          th:classappend="${#strings.contains(currentURI, '/manager/spa-services') or
                            #strings.contains(currentURI, '/staff/spa-services') or
                            #strings.contains(currentURI, '/therapist/spa-services')}? 'active' : ''"
          class="menu-item"
        >
          <a
            th:href="${#strings.contains(currentURI, 'manager') ? '/protected/manager/spa-services' :
                      (#strings.contains(currentURI, 'staff') ? '/protected/staff/spa-services' : '/protected/therapist/spa-services')}"
            id="spaServiceLink"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="CRM">List Spa Services</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Center Schedule (Manager) -->
    <li
        class="menu-item"
        th:classappend="${#strings.contains(currentURI, '/manager/center-schedule') or
                          #strings.contains(currentURI, '/staff/center-schedule') or
                          #strings.contains(currentURI, '/therapist/center-schedule')} ? 'active' : ''">
      <a th:href="${#strings.contains(currentURI, 'manager') ? '/protected/manager/center-schedule' :
                      (#strings.contains(currentURI, 'staff') ? '/protected/staff/center-schedule' : '/protected/therapist/center-schedule')}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar"></i>
        <div class="text-truncate" data-i18n="Dashboards">Center Schedule</div>
      </a>
    </li>

    <!-- Appointment -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-calendar-check"></i>
        <div class="text-truncate" data-i18n="Dashboards">Appointment</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a
            th:href="@{/protected/staff/appointments/pending}"
            target="_blank"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="eCommerce">
              List Appointments
            </div>
          </a>
        </li>
        <li class="menu-item">
          <a
            th:href="@{/protected/staff/appointments/checked-in}"
            target="_blank"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="eCommerce">Checked</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            th:href="@{/protected/staff/appointments/assigned}"
            target="_blank"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="eCommerce">Assigned</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            th:href="@{/protected/staff/appointments/completed}"
            target="_blank"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="eCommerce">Completed</div>
          </a>
        </li>
        <li class="menu-item">
          <a
            th:href="@{/protected/staff/appointments/checked-out}"
            target="_blank"
            class="menu-link"
          >
            <div class="text-truncate" data-i18n="eCommerce">Checked-out</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Manager Feedback -->
    <li th:if="${#strings.contains(currentURI, 'manager')}"
      class="menu-item"
      th:classappend="${#strings.contains(currentURI, '/manager/feedbacks') ? 'active' : ''}"
    >
      <a th:href="@{/protected/manager/feedbacks}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-comment"></i>
        <div data-i18n="Manager Feedback">Manager Feedback</div>
      </a>
    </li>
  </ul>
</aside>
