[mysqld]
bind-address = 0.0.0.0
port = 3306

max_connections = 150

slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time = 2
log-error = /var/lib/mysql/mysql-error.log
